
/* for lable */
button{
    
}

/* for id */
#btn1{
    
}

/* for class */
.btn{
    /*基本尺寸 width height*/
    /*内边距 padding*/
        /*padding-[left|right|top|bottom]*/
        /*padding: 1px 2px 3px 4px*/
        /*=== top1 right2 bottom3 left4*/
        /**/
        /*padding: 1px 2px*/
        /*=== top1 bottom1 left2 right2*/
        
    /*边框 border*/
    /*外边距 margin*/
    
    
    background-color: #00F;
    color: #FFF;
    border: none;
    padding: 10px;
    
    /*display: [block|inline|inline-block|none|...]*/
    /*div's display is block by default*/
    /*span's display is inline by default*/
    /*inline does not have height*/
}

.color-red{
    color: #F00;
}

/*水平居中 for display:block */
.center{
    text-align: center;
}

.span{
    /*外边距*/
    margin: 0px 10px;
    /*height: 100px;*/
    display: inline-block;
}

.france-text-block{
    width: 200px
}
.france-text-block .hot-tag{
    display: inline-block;
    margin: 0px 5px;
    padding: 4px;
    color: #FFF;
    background-color: #F00;
}

.four-squares {
    text-align: center;
}
.four-squares .item{
    display: inline-block;
    width: 24%;
    height: 100px;
    color: lightgray;
    padding: 30px;
    border: 10px solid;
    border-color: dimgray;
    box-sizing: border-box;
}
.four-squares .item-r{
    background-color: red
}
.four-squares .item-w{
    background-color: white
}
.four-squares .item-b{
    background-color: black
}
.four-squares .item-y{
    background-color: yellow
}

.div{
    box-sizing: content-box;
}